@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  padding: 0;
}
canvas {
  margin: 100;
  width: 1700px;
  height: 1080px;
  display: block;
}
#ui{
  width:100px;
}