@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  padding: 0;
}
.spawnBox{
  position: relative;
  top: 10px;
  left: 10px;
  padding: 20px;
}

.spawnBall{
  position: relative;
  top: 10px;
  left: 10px;
  padding: 20px;
}

canvas {
  width: 1720px;
  height: 780px;
  display: block;
}
#ui{
  width:100px;
}